.playlist-nav {
  /* height: 50px; */
  height: 60px;
  background-color:transparent;
}

.playlist-nav-container {
  background: transparent;
  justify-content: left;
  display: flex;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
}

.__1vi2hnk{
  line-height: 1.5;
}

.playlist-nav-img,
.playlist-nav-back,
.playlist-nav-play,
.playlist-nav-forward {
  background: transparent;
  justify-self: start;
}

.progress {
  width: 100%;
  height: 3px;
  background: black;
  transition: width 0.1s linear;
}

.audio-container {
  width: 50%;
}

.audio-bar-song-info {
  margin-right: 10px;
  margin-left: 5px
}
.audio-bar-song-artist{
  font-size: 10px;
}
.audio-bar-song-name{
  font-size: 15px;
}

.shuffle {
  position: absolute;
  right:100px;
  z-index: 2;
}