.account-options {
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid  black;
    z-index: 2;
    position: absolute;
    right: 15px;
    background: white;
}

.account-options li {
    padding: 8px 12px;
   
}

.account-options li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.account {
    background: white;
    border: none;
    outline: none;
}
.account button {
    background: transparent;
    padding: 0;
    width: 50px;
    border: none;
    color: #333;
    cursor: pointer;
    outline: none;
    font-size: 40px;
}

.account-col button:focus {
    outline:none;
    border:none;
    background: transparent;
}

.search-bar{
    justify-content: center;
    align-items: center;
}
.search-bar input {
    width: 100%;
    height: 25px;
    border-radius: 15px;
    border: 2px solid;
    padding-left: 10px;
    padding-right: 10px
}

.search-bar input:focus {
    border-radius: 15px;
    outline:none
}

.search-bar .search-btn {
    position: absolute;
    right: -13px;
    top: 0px;
    width: 50px;
    height: 29px;
    border: 2px solid;
    border-radius: 0px 15px 15px 0px;
    background: black;
}

.search-bar .search-btn:focus, 
.search-options-btn:focus{
    outline: none;
}

.home-navbar{
    margin-bottom: 0px;
}

.search-options {
    width: 100px;
    /* height: 100px; */
}
.search-options button {
    border: 1px solid;
    position: absolute;
    height: 29px;
    padding-left: 2px;
    padding-right: 2px;
    /* width: 35px; */
    min-width:35px;
    right: 37px;
    top: 0px;
    background: transparent;
    font-size: 12px;
}

.search-options button:focus{
    outline:none
}
.search-options ul {
    /* border: 1px solid; */
    width: 100px;
    text-align: left;
    position: absolute;
    right: 0px;
    top: 28px;
    
}
.search-options li {
    padding: 0px;
    margin: 0px
}
.search-options-ul button {
    width: 100%;
    background: white;
    border: 1px solid;
    position: relative;
    outline: none;
    z-index: 2;
}
.search-options-ul button:focus {
    outline: none;
    background: white;
}