.forgot-banner-row {
  height: 45px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  border-radius: 5px 5px 0px 0px;
  border-color: lightgray;
}

.forgot-banner {
  text-align: center;
}

.next {
  height: 45px;
  padding: 0px;
}

.next-button {
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
}

.col-sm-12 button {
  height: 100%;
  width: 100%;
  background: transparent;
  display: block;
  border: none;
}

.error-message-reset {
  height: 20px;
  margin-top: 15px;
  color: red;
}
