.result-container {
  margin-top: 10px;
  margin-left: 30px
}

.username-row {
  margin: 0px 0px 0px -10px;
  font-weight: bold;
}

.comment-row,
.reply {
  margin: 0px 0px 0px 10px;
}

.replies {
  margin: 0px 0px 0px 10px;
}

.view-replies-btn {
  border: none;
  background: transparent;
}

.view-replies-btn:focus{
  outline:none
}

.reply-btn {
  margin-left: 10px;
  background: none;
  outline: none;
  border: 1px solid;
}
