.playlist-container {
  margin: 0px;
}

.playlist-row {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;  
}

.playlist-row:after {
  content: "";
  width: 85%;
  height: 1px;
  background: lightgray;
  position: absolute;
  bottom: -4px;
  right: -10px;
  margin-left: 15%;
}

.playlist-row button {
  background: transparent;
}

.playlist-btn:focus {
  outline: none;
}

.playlist-row .playlist-btn {
  width: 80%;
  height: 60px;
  outline: none;
  border: none;
  text-align: left;
  position: absolute;
  display: inline-block;
}

.delete-btn {
  display: inline-block;
  border: none;
  justify-content: center;
  margin-right: 4%;
  background: transparent;
}

.play-btn {
  display: inline-block;
  border: none;
  justify-content: center;
  margin-right: 4%;
}

.following button {
  background: transparent;
  border: 1px solid;
  align-items: center;
  text-align: center;
}

.saved-playlists-btn,
.uploaded-songs-btn,
.my-playlists-btn {
  border: none;
  position: relative;
  /* border-bottom: 2px solid #faed26; */
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0px;
  outline: none;
  stroke-linecap: round;
}

.my-playlists-btn:focus,
.saved-playlists-btn:focus,
.uploaded-songs-btn:focus {
  outline: none;
  background: transparent;
}

.playlist-container {
  height:100%
}

.playlist-data-container{
  height: 100%;
  width: 100%;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 0px;
}