.settings-row button {
  border-radius: 5px;
  background-color: gray;
  border-color: gray;
  border: 1px solid;
  width: 100px;
  color: white;
}

.settings-row {
  margin: 50px;
}
.settings-row input {
  background: transparent;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  margin: 0px 0px 0px 50px;
  display: block;
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid;
}
  
.settings-row input:focus {
  outline: none;
  border: 2px solid black;
}

.settings-row .delete-btn {
  border: none;
  outline: none; 
    margin-right: 20px;
    margin-left: 10px;
    min-width: 100px; 
    height: 40px;
    border-radius: 5px;
    font-size: medium;
    background-color:white;
    border: 1px solid lightgray;
    color: black;
  
}

.settings-row .cancel-btn {
  border: none;
  outline: none; 
    margin-right: 20px;
    margin-left: 10px;
    min-width: 100px; 
    height: 40px;
    border-radius: 5px;
    font-size: medium;
    background-color: white;
    border: 1px solid lightgray;
    color: black;
  
}

.settings-row .save-btn {

  border: none;
  outline: none; 
    margin-right: 20px;
    margin-left: 10px;
    min-width: 100px; 
    height: 40px;
    border-radius: 5px;
    font-size: medium;
    background-color: #004CB2;
    border: 1px solid #004CB2;
    color: white;
  
}

.settings-row .save-btn:focus, .settings-row .cancel-btn:focus, .settings-row .delete-btn:focus {
  outline:"none"
}
.settings-row .save-btn:hover {
  background-color: #001eb2;
  border: #001eb2
}
.settings-row .cancel-btn:hover, .settings-row .delete-btn:hover{
  background-color: lightgray;
  border: lightgray;
  color: white
} 
.playlist-name-input{
  width: 100px
}

.photo_input {
  margin: 0px 0px 0px 50px;
}