/* Change max container sizes */
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .login-container {
    max-width: 400px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .login-container {
    max-width: 400px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .login-container {
    max-width: 400px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .clogin-container {
    max-width: 400px;
  }
}
