.text {
    flex-direction: row;
}
.button {
    margin-left: 1%;
    margin-right: 1%;
}

.search-results-container {
    margin-top: 60px
}

.add-song-box {
    border: 1px solid;
    position: absolute;
    background: white;
    z-index: 2;

}