.text {
    flex-direction: row;
    
}
.button {
    margin-left: 1%;
    margin-right: 1%;
}

.search-results-container {
    margin-top: 60px;

}

.add-song-box {
    border: 1px solid;
    position: absolute;
    background: white;
    z-index: 2;

}

.user-button button, .playlist-button button {
    background: transparent;
    border: none
}

.user-button button:focus, .playlist-button button:focus {
    outline: none
}

.artist_picture {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.song_picture,
.user_picture {
    height: 80px;
    width: 80px;
}

.search_card:hover {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
}
.user-following-info{
    padding: 0px;
    margin: 0px
}
.user-following-info .following-btn {
    border: 1px solid;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background: "transparent"
    }
    
.user-following-info .following-btn:hover {
      background-color: #004CB2;
      border-color: #004CB2;
      color: white;
      content: "Unfollow"
    }

    .requested-btn {
        border: 1px solid;
        border-radius: 10px;
        width: 100px;
        height: 25px;
        background:transparent
        }
.request-btn {
        border: 1px solid;
        border-radius: 10px;
        width: 100px;
        height: 25px;
        background:transparent
        }
        .request-btn:hover {
            background-color: #004CB2;
            border-color: #004CB2;
            color: white
          }
.request-btn:focus, .requested-btn:focus, .user-following-info .following-btn:focus {
    outline: "none"
}